/*by hdp 2017.07.02*/
.component-select{
    background-color: rgba(0,0,255,0.15);
}
.component-normal{
    border: 1px solid gray;
}
.font-big{
    font-size: 16px;
}
/*顶层div*/
.seat-total-div,.student-total-div{
    background-color: rgba(0,255,0,0.03);
    width: 1028px;
    margin: auto;
}
.font-title{
    font-size: 28px;
}