/*by hdp 2017.09.16*/

/*学生*/
.homework-student-div{
    width:200px;
    height: 900px;
    float: left;
    margin: 3px;
    overflow: auto;
}

/*作业*/
.homework-container-div{
    width:1065px;
    height: 900px;
    float: right;
    margin: 3px;
}